.feature {
  width: 100%;

  .sub-title {
    max-width: 550px;
  }

  .row {
    margin-block: 6rem;
    .card {
      background-color: rgba(128, 128, 128, 0.134);
      border: none;
      margin-block-end: 4rem;

      .circle-avatar {
        position: absolute;
        left: 50%;
        translate: -50% -60%;
        padding: 2rem;
        background-color: aliceblue;
      }
    }
  }
}
